#SSQuizSection{
    margin : 20px auto;
    background-color: blue;
    background-image: linear-gradient(DeepPink, Red, OrangeRed, Coral, Yellow);
    height: 500px;
    width : 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#SSTraining{
    font-size: 1.0em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:300px;
    border : 10px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:125px;
    top:50px;
    color : Black;
}
#SSTraining:hover{
    border: 10px solid Violet;
    color : Violet;
}
#SSquestions{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#SSquestions p{
    margin : 0;
    padding : 10px;
    font-size: 2.25em;
    font-style: Impact, sans-serif
}
#SSchoices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.SSchoice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.SSchoice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
#SSprogress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.SSprog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#SSscoreSection{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#SSscoreSection img{
    position: absolute;
    top:100px;
    left:325px;
}
#SSscoreSection p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
/* //hf */
#HFQuizSection{
    margin : 20px auto;
    background-color: blue;
    background-image: linear-gradient(DeepPink, Red, OrangeRed, Coral, Yellow);
    height: 500px;
    width : 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#HFTraining{
    font-size: 1.0em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:300px;
    border : 10px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:125px;
    top:50px;
    color : Black;
}
#HFTraining:hover{
    border: 10px solid Violet;
    color : Violet;
}
#HFquestions{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#HFquestions p{
    margin : 0;
    padding : 10px;
    font-size: 2.25em;
    font-style: Impact, sans-serif
}
#HFchoices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.HFchoice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.HFchoice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
#HFprogreHF{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.HFprog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#HFscoreSection{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#HFscoreSection img{
    position: absolute;
    top:100px;
    left:325px;
}
#HFscoreSection p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
/* //HF */
#TSQuizSection{
    margin : 20px auto;
    background-color: blue;
    background-image: linear-gradient(DeepPink, Red, OrangeRed, Coral, Yellow);
    height: 500px;
    width : 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#TSTraining{
    font-size: 1.0em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:300px;
    border : 10px solid black;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:125px;
    top:50px;
    color : Black;
}
#TSTraining:hover{
    border: 10px solid Violet;
    color : Violet;
}
#TSquestions{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#TSquestions p{
    margin : 0;
    padding : 10px;
    font-size: 2.25em;
    font-style: Impact, sans-serif
}
#TSchoices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.TSchoice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.TSchoice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
#TSprogreTS{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.TSprog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#TSscoreSection{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#TSscoreSection img{
    position: absolute;
    top:100px;
    left:325px;
}
#TSscoreSection p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
