/* buttons --------------------------------------------------------------- */
.GameInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.GameInfoShow{
  //work on
  background-color: #7cdec4;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }
.RoleInfoShow{
  //work on
  background-color: #7cdec4;
  color: white;
  padding: 15px 32px;
  text-align: center;

  }
.RolesInfoHide{
  //work on
  background-color: #7cdec4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.LegMuscleTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.LMInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.StrongJawTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.SJInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.LoyaltyDeterminationTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.LDInfoHide{
  //work on
  background-color: Green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
