/* buttons --------------------------------------------------------------- */
button.GameInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.GameInfoShow{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.RoleInfoShow{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.RolesInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button.LegMuscleTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.LMInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.StrongJawTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.SJInfoHide{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.LoyaltyDeterminationTrait{
  //work on
  background-color: #7cdec4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
button.LDInfoHide{
  //work on
  background-color: #7cdec4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
