/* buttons --------------------------------------------------------------- */
body {background-color: coral;}

.LMTrait{
  //work on
  background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.SJTrait{
  //work on
  background-color: #7cdec4;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }
.LDTrait{
  //work on
  background-color: #7cdec4;
  color: white;
  padding: 15px 32px;
  text-align: center;

  }
  div{

    
  }
